{% extends "layout.html" %}


{% block title %}Dashboard{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
{% endblock %}


{% block container %}
<div id="messages">
    <!-- Alert Messages -->
</div>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Open Data Press</a>
    </div>

    <div class="collapse navbar-collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-link" href="/dashboard">Dashboard</a></li>
            <li><a class="navbar-link" href="/{{current_user.profile_slug|e}}" target="_blank">My Profile</a></li>
            <li><a class="navbar-link" href="#/settings">Settings</a></li>
            <li><a class="navbar-link" href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</div>
<div id="dash-panel" >
    <div class="container" id="dash-content">
    <!-- Dashboard Content -->
    </div>
</div>
<div id="dash-footer" class="text-muted">
    <a href="#/help">Help</a> - 
    <a href="#/about">About</a> - 
    <a href="#/contact">Contact</a> - 
    <a href="https://github.com/opendatapress/open_data_press/" target="_blank">Source</a> -
    Open Data Press v{{VERSION}}
</div>
{% endblock %}


{% block templates %}
{% raw %}
<script id="tpl-spinner" type="text/html">
    <div class="spinner text-center text-muted">
        <h1>Working&hellip; Please wait.</h1>
        <i class="icon-spinner"></i>
    </div>
</script>

<script id="tpl-message" type="text/x-handlebars-template">
    <div class="alert alert-dismissable alert-{{type}}" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{{message}}}
    </div>
</script>

<script id="tpl-data-view-list" type="text/x-handlebars-template">
    <h1>All Data Sources</h1>
    {{#if this.data_sources}}
        {{#each data_sources}}
            <div class="card">
                <h3>{{this.title}}</h3>
                <p>description: <strong>{{this.description}}</strong></p>
                <p>created_at: <strong>{{this.created_at}}</strong></p>
                <p>google_spreadsheet: <strong>{{this.google_spreadsheet}}</strong></p>
                <p>google_worksheet: <strong>{{this.google_worksheet}}</strong></p>
                <p>id: <strong>{{this.id}}</strong></p>
                <p>licence: <strong>{{this.licence}}</strong></p>
                <p>modified_at: <strong>{{this.modified_at}}</strong></p>
                <p>slug: <strong>{{this.slug}}</strong></p>
                <p>tags: <strong>{{this.tags}}</strong></p>
                <p>tbl_stars: <strong>{{this.tbl_stars}}</strong></p>
                <p>Profile URL: <a href="{{this.public_url}}" target="_blank">{{this.public_url}}</a></p>
                <p>Spreadsheet URL: <a href="{{this.spreadsheet_url}}" target="_blank">{{this.spreadsheet_url}}</a></p>
                <hr>
                <h4>Data Views</h4>
                {{#if this.data_views}}
                    <ul>
                        {{#each this.data_views}}
                            <li>this.title</li>
                        {{/each}}
                    </ul>
                {{else}}
                    <p>
                        There are no Views for this Data Source.
                        <a href="#/data-source/{{this.id}}/data-view">Create one now!</a>
                    </p>
                {{/if}}
                <hr>
                <p>
                    <a class="btn btn-default btn-sm" href="#/data-source/{{this.id}}/data-view">Create View for this Data</a>
                    <a class="btn btn-default btn-sm" href="#/data-source/{{this.id}}">Edit Data Source</a>
                </p>
            </div>
        {{/each}}
    {{else}}
        <div class="card">
        <p>You have not yet created any Data Sources from your Google Worksheets.</p>
        <p><a class="btn btn-primary" href="#/drive">Create one Now!</a></p>
        </div>
    {{/if}}
</script>

<script id="tpl-data-view-edit" type="text/x-handlebars-template">
    <h1>Edit Data Source</h1>
    <div class="card">
        <form id="data-source-edit" role="form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" value="{{title}}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" value="{{description}}">
            </div>
            <div class="form-group">
                <label for="licence">Licence</label>
                <input type="text" class="form-control" id="licence" value="{{licence}}">
            </div>
            <div class="form-group">
                <label for="slug">Vanity URL</label>
                <input type="text" class="form-control" id="slug" value="{{slug}}">
            </div>
            <div class="form-group">
                <label for="tags">Tags (comma seperated)</label>
                <input type="text" class="form-control" id="tags" value="{{tags}}">
            </div>
            <div class="form-group">
                <label for="tbl_stars">TBL Stars <small><a href="http://5stardata.info/" target="_blank">What&apos;s this?</a></small></label>
                <input type="text" class="form-control" id="tbl_stars" value="{{tbl_stars}}">
            </div>
            <hr>
            <div class="form-group">
                <input type="hidden" id="id" value="{{id}}"><!-- TODO Fix this abomination -->
                <button type="submit" id="submit" class="btn btn-primary">Save Changes</button>
                <a href="#/data-source" class="btn btn-link">Cancel</a>
                <button type="button" id="delete" class="btn btn-danger pull-right">Delete</button>
            </div>
        </form>
    </div>
</script>

<script id="tpl-dashboard" type="text/html">
    <h1>Dashboard Home</h1>
    <div class="card text-center">
        <a href="#/drive" class="btn btn-default">Import Data From Google Drive</a> &nbsp; &nbsp;
        <a href="#/data-source" class="btn btn-default">View All Imported Data Sources</a>
    </div>
    <div class="card">
        <p>TODO: Welcome message etc.</p>
    </div>
</script>

<script id="tpl-help" type="text/html">
    <h1>Oops! Error</h1>
    <div class="card">
        <p>I&apos;m sorry, something has gone wrong.</p>
        <p>TODO: Add help and supprt info.</p>
    </div>
</script>

<script id="tpl-settings" type="text/x-handlebars-template">
    <h1>Profile Settings</h1>
    <div class="card">
        <form id="settings" role="form">
            <div class="form-group">
                <label for="profile_name">Name</label>
                <input type="text" class="form-control" id="profile_name" value="{{profile_name}}">
            </div>
            <div class="form-group">
                <label for="profile_description">Description</label>
                <textarea class="form-control" id="profile_description">{{profile_description}}</textarea>
            </div>
            <div class="form-group">
                <label for="profile_email">Email</label>
                <input type="email" class="form-control" id="profile_email" value="{{profile_email}}">
            </div>
            <div class="form-group">
                <label for="profile_web_address">Web Address</label>
                <input type="text" class="form-control" id="profile_web_address" value="{{profile_web_address}}">
            </div>
            <hr>
            <div class="form-group">
                <input type="hidden" id="google_id" value="{{google_id}}"><!-- TODO Fix this abomination -->
                <button type="submit" id="submit" class="btn btn-primary">Save Changes</button>
                <a href="#" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</script>

<script id="tpl-google-sheets" type="text/x-handlebars-template">
    <h1>Spreadsheets on Google Drive</h1>
    <div class="card">
        <p>Choose a spreadsheet to import</p>
        <ul>
        {{#each files}}
            <li>
                <a class="drive-spreadsheet" href="#/drive/{{this.id}}">
                    <h4>{{this.title}}</h4>
                    <p><strong>Owners:</strong> {{this.ownerNames}}</p>
                    <p><img src="{{this.thumbnailLink}}"></p>
                </a>
            </li>
        {{/each}}
        </ul>
    </div>
</script>

<script id="tpl-google-worksheets" type="text/x-handlebars-template">
    <h1>Worksheets in Spreadsheet</h1>
    <div class="card">
        <p>Choose a worksheet to import from <strong>{{title}}</strong></p>
        <ul>
        {{#each worksheets}}
            <li><a class="drive-worksheet" href="#/drive/{{../key}}/{{this.id}}">{{this.title}}</a></li>
        {{/each}}
        </ul>
    </div>
</script>

<script id="tpl-google-table" type="text/x-handlebars-template">
    <h1>Data in Worksheet</h1>
    <div class="card clearfix">
        <p>Preview of data in <strong>{{title}}</strong> <em>(max 5 rows)</em></p>
        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {{#first 1 data_rows}}
                            {{#key_value this}}
                                <th>{{key}}</th>
                            {{/key_value}}
                        {{/first}}
                    </tr>
                </thead>
                <tbody>
                    {{#first 5 data_rows}}
                        <tr>
                            {{#key_value this}}
                                <td>{{value}}</td>
                            {{/key_value}}
                        </tr>
                    {{/first}}
                </tbody>
            </table>
        </div>
        <hr>
        <button id="create-data-source" class="btn btn-primary pull-right" data-key="{{key}}" data-id="{{id}}" data-title="{{title}}">Import Data</button>
    </div>
</script>

{% endraw %}
{% endblock %}


{% block javascripts %}
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/router.js"></script>
<script src="/js/handlebars.js"></script>
<script src="/js/dashboard.js"></script>
{% endblock %}