{% extends "layout.html" %}


{% block title %}Dashboard{% endblock %}


{% block stylesheets %}
<style type="text/css">
    
    html, body {
        height: 100%;
        min-width: 800px;
    }

    #messages {
        position: absolute;
        z-index: 1001;
        left: 300px;
        right: 300px;
        padding-top: 5px;
        text-align: center;
    }

    #messages .alert {
        padding: 8px 35px;
    }

    #messages .spinner {
        padding-top: 5px;
    }

    .navbar {
        margin-bottom: 0;
    }

    .left-fixed {
        position: absolute;
        top: 51px;
        left: 0;
        bottom: 0;
        width:200px;
        border-right: 3px solid lightgrey;
        padding: 3px;
    }

    .left-footer {
        position: absolute;
        bottom: 10px;
        width: 192px;
        text-align: center;
        font-size: 0.9em;
        color: #696969;
    }

    .right-fluid {
        position: absolute;
        top: 51px;
        left: 200px;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        padding: 10px 30px;
    }

    @media (min-width: 1200px) {
        .content-wrapper{
            max-width: 950px;
        }
    }

</style>
{% endblock %}


{% block container %}
<div id="messages">
    <!-- Alert Messages -->
</div>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <a class="navbar-brand" href="/">Open Data Press</a>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" href="/{{current_user.profile_slug|e}}" target="_blank">My Profile</a></li>
        <li><a class="navbar-link" href="#/settings">Settings</a></li>
        <li><a class="navbar-link" href="/auth/logout">Logout</a></li>
    </ul>
</div>
<div class="left-fixed">
    <div class="list-group" role="navigation">
        <a class="list-group-item" href="/dashboard">Dashboard</a>
        <a class="list-group-item" href="#/import-data">Import Data from Drive</a>
        <a class="list-group-item" href="#/data-source">All Data Sources</a>
        <a class="list-group-item" href="#/data-source/10">Data Source 10</a>
        <a class="list-group-item" href="#/data-view">All Data Views</a>
        <a class="list-group-item" href="#/data-view/10">Data View 10</a>
    </div>
    <div class="left-footer">
        <hr>
        Open Data Press v0.1 <br>
        <a href="#">Help</a> -
        <a href="#">About</a> -
        <a href="#">Contact</a>
    </div>
</div>
<div class="right-fluid" id="dash-content">
    <!-- Dashboard Content -->
</div>
{% endblock %}


{% block templates %}
{% raw %}
<script id="tpl-spinner" type="text/html">
    <div class="spinner">
        <img src="/img/spinner.gif">
    </div>
</script>

<script id="tpl-message" type="text/x-handlebars-template">
    <div class="alert alert-dismissable alert-{{type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{{message}}}
    </div>
</script>

<script id="tpl-dashboard" type="text/html">
    <div class="content-wrapper">
        <h1>Dashboard Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</script>

<script id="tpl-help" type="text/html">
    <div class="content-wrapper">
        <h1>Oops! Error <strong>:(</strong></h1>
        <p>I&apos;m sorry, something has gone wrong.</p>
        <p>TODO: Add help and supprt info.</p>
    </div>
</script>

<script id="tpl-settings" type="text/x-handlebars-template">
    <div class="content-wrapper">
        <h1>Profile Settings</h1>
        <form id="form-settings" role="form">
            <div class="form-group">
                <label for="profile_name">Name</label>
                <input type="text" class="form-control" id="profile_name" value="{{profile_name}}">
            </div>
            <div class="form-group">
                <label for="profile_description">Description</label>
                <textarea class="form-control" id="profile_description">{{profile_description}}</textarea>
            </div>
            <div class="form-group">
                <label for="profile_email">Email</label>
                <input type="email" class="form-control" id="profile_email" value="{{profile_email}}">
            </div>
            <div class="form-group">
                <label for="profile_web_address">Web Address</label>
                <input type="text" class="form-control" id="profile_web_address" value="{{profile_web_address}}">
            </div>
            <hr>
            <div class="form-group">
                <input type="hidden" id="google_id" value="{{google_id}}">
                <button type="submit" id="submit" class="btn btn-primary">Save Changes</button>
                <a href="#" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</script>

<script id="tpl-import" type="text/x-handlebars-template">
    <div class="content-wrapper">
        <h1>Spreadsheets on Google Drive</h1>
        <div>
            <strong>Choose Spreadsheet </strong> &gt;
            Choose Worksheet &gt;

        </div>
        <div class="scroll-box">
            <ul class="list-group">
            {{#each files}}
                <li class="list-group-item">
                    {{this.title}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</script>
{% endraw %}
{% endblock %}


{% block javascripts %}
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/router.js"></script>
<script src="/js/handlebars.js"></script>

<script type="text/javascript">
    
    (function(){
        var 

        /* Dynamic page elements */
        dash_content = $('#dash-content'),
        messages     = $('#messages'),


        /* Static Templates */
        tpl_spinner   = $('#tpl-spinner').html(),
        tpl_dashboard = $('#tpl-dashboard').html(),
        tpl_help      = $('#tpl-help').html(),


        /* Handlebars Templates */
        tpl_settings = Handlebars.compile($('#tpl-settings').html()),
        tpl_message  = Handlebars.compile($('#tpl-message').html()),
        tpl_import_1 = Handlebars.compile($('#tpl-import').html()),


        /* Show a styled alert message in the navbar */
        alertMsg = function(message, type){
            message  = message || '';
            type     = type    || 'info';
            messages.html(tpl_message({message: message, type: type}));
        },

        /* Show spinner in navbar */
        showSpinner = function(){
            messages.html(tpl_spinner);
        },

        /* Hide spinner in navbar */
        hideSpinner = function(){
            messages.html('');
        },

        /* Show error in nav */
        showError = function(response){
            alertMsg('<strong>Error:</strong> ' + response.responseJSON.body, 'danger');
            dash_content.html(tpl_help);
        };

        /* URL Route Handlers */
        new Router()

        .before(function(req, next){
            showSpinner();
            next();
        })

        // Helper route for testing errors
        .addRoute('#/404', function(req, next){
            $.ajax('/api/0/404')
            .error(function(res){ showError(res); });
        })

        .addRoute('#/settings', function(req, next){
            $.ajax('/api/0/user')
            .success(function(res){
                hideSpinner();
                dash_content.html(tpl_settings(res.body));
            })
            .error(function(res){ showError(res); });
        })

        .addRoute('#/import-data', function(req, next){
            $.ajax('/api/0/google/sheets')
            .success(function(res){
                hideSpinner();
                console.log(res.body);
                dash_content.html(tpl_import_1(res.body));
            })
            .error(function(res){ showError(res); });
        })

        .addRoute('#/data_source', function(req, next){
            console.log(req);
            dash_content.html('All data sources');
        })

        .addRoute('#/data_source/:data_source_id', function(req, next){
            console.log(req);
            dash_content.html('Data Source ' + req.params.data_source_id);
        })

        .addRoute('#/data_view', function(req, next){
            console.log(req);
            dash_content.html('All data views');
        })

        .addRoute('#/data_view/:data_view_id', function(req, next){
            console.log(req);
            dash_content.html('Data View ' + req.params.data_view_id);
        })

        // Catch missing routes
        .errors(404, function(){
            dash_content.html(tpl_dashboard);
        })

        .run()


        /* Event Handlers */
        $(document)

        .on('click', '#form-settings #submit', function(){
            payload = {
                google_id           : $('form #google_id').val(),
                profile_name        : $('form #profile_name').val(),
                profile_slug        : $('form #profile_slug').val(),
                profile_description : $('form #profile_description').val(),
                profile_email       : $('form #profile_email').val(),
                profile_web_address : $('form #profile_web_address').val()
            }

            showSpinner();

            $.ajax({
                url: '/api/0/user',
                type: 'POST',
                data: {payload: JSON.stringify(payload)}
            })
            .success(function(res){
                alertMsg('Changes Saved!', 'success');
            })
            .error(function(res){ showError(res); });

            return false;
        })

    })()

</script>
{% endblock %}