{% extends "layout.html" %}


{% block title %}Dashboard{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
{% endblock %}


{% block container %}
<div id="messages">
    <!-- Alert Messages -->
</div>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <a class="navbar-brand" href="/">Open Data Press</a>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-link" href="/{{current_user.profile_slug|e}}" target="_blank">My Profile</a></li>
        <li><a class="navbar-link" href="#/settings">Settings</a></li>
        <li><a class="navbar-link" href="/auth/logout">Logout</a></li>
    </ul>
</div>
<div class="left-fixed">
    <div class="list-group" role="navigation">
        <a class="list-group-item" href="/dashboard">Dashboard</a>
        <a class="list-group-item" href="#/import-data">Import Data from Drive</a>
        <a class="list-group-item" href="#/data-source">All Data Sources</a>
        <a class="list-group-item" href="#/data-source/10">Data Source 10</a>
        <a class="list-group-item" href="#/data-view">All Data Views</a>
        <a class="list-group-item" href="#/data-view/10">Data View 10</a>
    </div>
    <div class="left-footer">
        <hr>
        Open Data Press v0.1 <br>
        <a href="#">Help</a> -
        <a href="#">About</a> -
        <a href="#">Contact</a>
    </div>
</div>
<div class="right-fluid" id="dash-content">
    <!-- Dashboard Content -->
</div>
{% endblock %}


{% block templates %}
{% raw %}
<script id="tpl-spinner" type="text/html">
    <div class="spinner">
        <img src="/img/spinner.gif">
    </div>
</script>

<script id="tpl-message" type="text/x-handlebars-template">
    <div class="alert alert-dismissable alert-{{type}}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{{message}}}
    </div>
</script>

<script id="tpl-dashboard" type="text/html">
    <div class="content-wrapper">
        <h1>Dashboard Home</h1>
    </div>
</script>

<script id="tpl-help" type="text/html">
    <div class="content-wrapper">
        <h1>Oops! Error <strong>:(</strong></h1>
        <p>I&apos;m sorry, something has gone wrong.</p>
        <p>TODO: Add help and supprt info.</p>
    </div>
</script>

<script id="tpl-settings" type="text/x-handlebars-template">
    <div class="content-wrapper">
        <h1>Profile Settings</h1>
        <form id="form-settings" role="form">
            <div class="form-group">
                <label for="profile_name">Name</label>
                <input type="text" class="form-control" id="profile_name" value="{{profile_name}}">
            </div>
            <div class="form-group">
                <label for="profile_description">Description</label>
                <textarea class="form-control" id="profile_description">{{profile_description}}</textarea>
            </div>
            <div class="form-group">
                <label for="profile_email">Email</label>
                <input type="email" class="form-control" id="profile_email" value="{{profile_email}}">
            </div>
            <div class="form-group">
                <label for="profile_web_address">Web Address</label>
                <input type="text" class="form-control" id="profile_web_address" value="{{profile_web_address}}">
            </div>
            <hr>
            <div class="form-group">
                <input type="hidden" id="google_id" value="{{google_id}}">
                <button type="submit" id="submit" class="btn btn-primary">Save Changes</button>
                <a href="#" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</script>

<script id="tpl-import" type="text/x-handlebars-template">
    <div class="content-wrapper">
        <h1>Spreadsheets on Google Drive</h1>
        <div>
            <strong>Choose Spreadsheet </strong> &gt;
            Choose Worksheet &gt;

        </div>
        <div class="scroll-box">
            <ul class="list-group">
            {{#each files}}
                <li class="list-group-item">
                    {{this.title}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</script>
{% endraw %}
{% endblock %}


{% block javascripts %}
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/router.js"></script>
<script src="/js/handlebars.js"></script>
<script src="/js/dashboard.js"></script>
{% endblock %}