<!doctype html>
<!--[if IE 8]> <html lang="en" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}My Site{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" >
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block container %}
    <a href="#content" class="sr-only">Skip to content</a>

    <div class="header">
        <div class="container clearfix">
            <nav class="pull-left">
                <a class="brand" href="/">Open Data Press</a>
            </nav>
            <nav class="pull-right">
                {% block current_user %}
                    {% if current_user %}
                    <a href="/{{current_user.profile_slug|e}}">My Profile</a>
                    <a href="/dashboard">Dashboard</a>
                    <a href="/auth/logout">Logout</a>
                    {% else %}
                    <a href="/auth/login">Login</a>
                    {% endif %}
                {% endblock %}
            </nav>
        </div><!-- .container -->
    </div><!-- .header -->
        
    <div class="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer"  class="text-muted">
            Built by <a href="http://craig-russell.co.uk" target="_blank">Craig Russell</a> - 
            <a href="https://github.com/opendatapress/open_data_press/wiki" target="_blank">About</a> - 
            <a href="https://github.com/opendatapress/open_data_press/" target="_blank">Source Code</a> -
            Open Data Press v{{VERSION}}
        </div>
    </div><!-- .container -->
    {% endblock %}

    {% block templates %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>