<!doctype html>
<!--[if IE 8]> <html lang="en" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}My Site{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" >
    {% block stylesheets %}{% endblock %}
</head>
<body>
  <a href="#content" class="sr-only">Skip to content</a>
  <div class="container">
    
    <div class="header">
      <nav>
        <strong><a href="/">Open Data Press</a></strong>
        {% if current_user %}
        | <a href="/{{current_user.profile_slug|e}}">My Profile</a>
        | <a href="/dashboard">Dashboard</a>
        | <a href="/auth/logout">Logout</a>
        {% else %}
        | <a href="/auth/login">Login</a>
        | <a href="/auth/login?approval_prompt">Login (Force Approval Prompt)</a>
        {% endif %}
      </nav>
    </div>

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      &copy; Open Data Press 2013
      | <a href="#" id="debug-toggle">Debug Info</a>
    </div>
    

    <div id="debug-block" class="debug" style="display:none">
      <hr>
      <p><strong>Debug Information</strong></p>
      Session Data: <pre><code>{{ session|e }}</code></pre>
      Current User: <pre><code>{{ current_user|e }}</code></pre>
    </div>

    <script type="text/javascript">
      (function(d){
        var t = d.getElementById('debug-toggle'),
            b = d.getElementById('debug-block');
        t.onclick = function(){
          b.style.display = (b.style.display == "none") ? "block" : "none";
          return false;
        }
      })(document)
    </script>

  </div><!-- .container -->

  {% block templates %}{% endblock %}

  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
  {% block javascripts %}{% endblock %}

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>