{% extends "layout.html" %}

{% block title %}{{user.profile_name|e}}{% endblock %}

{% block content %}
    <h1>Open Data by {{user.profile_name|e}}</h1>
    <div class="row">
        <div class="col-sm-8">
            {% if user.data_sources %}
                {% for ds in user.data_sources %}
                    <div class="card clearfix">
                        {% if ds.data_views %}
                            <div class="pull-right" style="margin:20px 0 0 20px; text-align:right;">
                                {% for view in ds.data_views %}
                                    <p><a class="btn btn-success" href="{{view.download_url|e}}" target="_blank">Download {{ view.filetype|e }}</a></p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <h3><a href="{{ ds.public_url|e }}">{{ ds.title|e }}</a></h3>
                        <p>{{ ds.description|e }} </p>
                        <hr>
                        <p>Source Data: <a href="{{ ds.spreadsheet_url|e }}" target="_blank">Google Spreadsheet</a></p>
                        <p>Created: {{ ds.created_at|datetime }}</p>
                        <p>Tags: {% for tag in ds.tags %} {{tag}} {% endfor %}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card" style="padding-top:20px">
                    <p>{{user.profile_name|e}} hasn't published any Open Data... yet.</p>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="card">
                <p style="margin-top:20px;"><img src="{{ user.google_picture_url|e }}" width="150" height="150"></p>
                <h3><strong>{{ user.profile_name|e }}</strong> ({{ user.profile_slug|e }})</h3>
                <p></p>
                {% if user.profile_email %}
                    <p>{{ user.profile_description|e }}</p>
                {% endif %}
                <hr>
                {% if user.profile_email %}
                    <p>Email: <a href="mailto:{{ user.profile_email|e }}">{{ user.profile_email|e }}</a></p>
                {% endif %}
                {% if user.profile_web_address %}
                    <p>Web: <a href="{{ user.profile_web_address|e }}">{{ user.profile_web_address|e }}</a></p>
                {% endif %}
                <p>Member since {{ user.created_at|date }}</p>
            </div>
        </div>
    </div>
{% endblock %}