html, body {
    height: 100%;
}

#messages {
    position: absolute;
    z-index: 1001;
    left: 300px;
    right: 300px;
    padding-top: 5px;
    text-align: center;
}

#messages .alert {
    padding: 8px 35px;
}

.navbar {
    margin-bottom: 0;
}

#dash-panel {
    position: absolute;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background-color: #e5e5e5;
}

#dash-footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    text-align:center;
    font-size: 0.9em;
    line-height: 20px;
    vertical-align: middle;
}

.card {
    border: 1px solid #c6c6c6;
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 20px;
}

.table-wrapper {
    overflow-x: scroll;
    border: 1px solid #c9c9c9;
    padding: 2px;
}

.text-muted a {
    color: #999;
    text-decoration: underline;
}

.text-muted a:hover,
.text-muted a:focus {
    color: #666;
}

.spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -15px;
}