html, body {
    height: 100%;
}

#messages {
    position: absolute;
    z-index: 1001;
    left: 300px;
    right: 300px;
    padding-top: 5px;
    text-align: center;
}

#messages .alert {
    padding: 8px 35px;
}

.navbar {
    margin-bottom: 0;
}

.left-fixed {
    position: absolute;
    top: 51px;
    left: 0;
    bottom: 0;
    width:200px;
    border-right: 3px solid lightgrey;
    padding: 3px;
}

.left-footer {
    position: absolute;
    bottom: 10px;
    width: 192px;
    text-align: center;
    font-size: 0.9em;
    color: #696969;
}

.right-fluid {
    position: absolute;
    top: 51px;
    left: 200px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    background-color: #e5e5e5;
    padding: 10px 20px;
}

.content {
    border: 1px solid #c6c6c6;
    background-color: #FFF;
    padding: 20px;
}

@media (min-width: 1200px) {
    .content{
        max-width: 950px;
    }
}

.table-wrapper {
    overflow-x: scroll;
    border: 1px solid #c9c9c9;
    padding: 2px;
}